*{
padding:0px;
margin:0px;
background-color: greenyellow;
}

.container{
	width: 90%;
  margin: 30px auto;
  padding: auto;
}

.image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 45%;
	width: auto;
	border-radius: 8px;
	box-shadow: 2px 3px 5px rgba(36, 36, 36, 0.781);
}

.text{
	margin: auto;
 padding: auto;
}

.title{
 text-align: center;
}

strong{
	font-size: 30px;
	display: flex;
	justify-content: center;
}

.info{
	text-align: left;
  font-size: 20px;
  color: rgb(0, 0, 0);
}